<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="fn"> <br>
        名：<input type="text" v-model="ln"> <br>
        姓名: <span>{{fullname}}</span>
    </div>
</body>
<script>
    Vue.config.productionTip = false;
    new Vue({
        el:'#root',
        data:{
            fn:'pan',
            ln:'chen',
            fullname:'pan-chen'
             },
       watch:{
        fn(newValue,oldValue){
            setTimeout(()=>{
             this.fullname = newValue+'-'+this.ln   
            },1000)
            

        },
        ln(newValue,oldValue){
            this.fullname = this.fn+'-'+newValue

        }
       }
    });

</script>
</html>